@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@700&display=swap');
body{
  color: white;
  background-color: hsl(216, 12%, 8%);
}
.main{
  background-color: hsl(213, 19%, 18%) ;
  border-radius: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 400px;
  margin-left: -200px;
  margin-top: -200px;
}

.starbutton{
  background-color: hsl(216, 12%, 54%, 0.2);
  border: none;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  margin-top: 9%;
  margin-left: 9%;
}
p{
  font-family: 'Overpass', sans-serif;
  font-weight:400;
  font-size: 15px;
  margin-left:10%;
}
h1{
  font-family: 'Overpass', sans-serif;
  font-weight:700;
  margin-left:10%;
}